
body {
    margin: 20px;
    font-family: Arial, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px); 
    gap: 5px; 
    width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    border-radius: 4px; 
}


.item-1 { background-color: #00bcd4; } 
.item-2 { background-color: #ff4500; } 
.item-3 { background-color: #4169e1; } 
.item-4 { background-color: #ffdb00; } 
.item-5 { background-color: #800080; } 
.item-6 { background-color: #3cb371; } 
.item-7 { background-color: #ff7f50; } 
.item-8 { background-color: #20b2aa; } 
.item-9 { background-color: #800000; } 