body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

.investors-grid-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.investor-card {
    flex-basis: calc(25% - 20px); 
    
    margin: 10px; 
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
    box-sizing: border-box;
}

.investor-photo {
    width: 100%;
    height: auto; 
    border-radius: 0; 
    object-fit: cover;
    margin-bottom: 10px;
}

.name {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin: 5px 0 0 0;
}

.title {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 10px 0;
}

.logo {
    max-width: 70%;
    max-height: 25px;
    object-fit: contain;
    margin-bottom: 5px;
}